.Main{
    margin-bottom: 50px;
    height: 821px;
}
.Main_Container{
    display: flex;
    height: 100%;
    background-color: blueviolet;
    text-align: center;
    align-items: center;
}
.MainL{
    width: 60%;
    background-color: aquamarine;
}
.MainR{
    width: 40%;
    background-color: aqua;
}
.Buttons{
    width: 50px;
    height: 50x;
    background-color: red;
    position: absolute;
}